.python-environments/
ac-comphist.dat
custom/
ede-projects.el
elpa-26.3/
elpa/
elpy/
eln-cache/
rime/
var/
projectile-bookmarks.eld
recentf
semanticdb/
auto-save-list/
transient/
*.~undo-tree~
**.~undo-tree~
*.el~
**.el~